/*
 * Remove template code below
 */

body,
html {
	margin: 0;
	padding: 0;
	background: rgb(141, 199, 191);
}

pre {
	/* display: none; */
	width: 100%;
	overflow: auto;
}

.page {
	display: flex;
	width: 100%;
	align-items: center;
	font-family: monospace;
	margin: 0 auto 50px;
	height: 100%;
	color: #2b2e2d;
	position: relative;
}

.page main {
	margin: 0 2rem;
	width: 100%;
	z-index: 10;
}

.page footer {
	margin-top: 12rem;
	font-size: 42%;
}

.page h1 {
	font-size: 7vw;
	margin-bottom: 2rem;
	transition: color 260ms 60ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	letter-spacing: -0.4vw;
	/* white-space: nowrap; */
}

.page h1:hover {
	cursor: pointer;
}

.page h1:active {
	text-decoration: underline;
}

.page h1:hover span {
	cursor: pointer;
	opacity: 1 !important;
}

.page h1 span {
	opacity: 0.4;
}

.page h1 span.bc {
	font-size: 30%;
	font-style: italic;
}

.page hr {
	position: absolute;
	top: 0;
	left: 0;
	/* right: 0; */
	display: flex;
	justify-content: flex-end;
	background: #70a9a1;
	/* padding: 5rem; */
	z-index: 1;
	margin: 0;
	width: 1rem;
	border: none;
	transition: height 270ms ease-in-out, background 666ms ease-in-out;
	/* opacity: 0.4; */
}

.page a {
	text-decoration: none;
	color: black;
	transition: all 50ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
	/* outline: transparent dotted 1px; */
	outline: #71aaa1 solid 0.2rem;
	background: #71aaa1;
	/* outline-offset: 0.1rem; */
}

.page a.author,
.page a.author:hover,
.page a.author:focus {
	background: none;
}

.page a:hover,
.page a:focus {
	/* color: black; */
	background: #5b8a83;
	/* outline-color: #23ac33; */
	outline: #5b8a83 solid 0.3rem;
}

.page p {
	position: relative;
	font-size: 125%;
	padding-right: 5vw;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #000;
	padding-left: 0.1rem;
	line-height: 1.75;
	/* padding-left: 3rem; */
}

/* .page p::before {
	content: "";
	position: absolute;
	left: -4rem;
	top: -1rem;
	display: block;
	width: 5rem;
	border-top: 3px solid #23ac33;
} */

@media screen and (min-width: 1200px) {
	.page p {
		font-size: 4vw;
	}
}
